Name:         (Project Name, Use Title Capitalization)
Description:  (one line description, sentence, ending in period)
Access_at:    (url)
Project_at:   (url)
Type:         web application | mobile application | desktop application | web service | website | dataset | document
Status:       ideation | in development | beta | deployed | archival
Contacts:     [ "email (Name)", ... ]
Categories:   [ category, ... ]
